services:
    # The Web App
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: meters-app
        restart: always
        command: [ "php-fpm" ]
        env_file:
            - .env
        volumes:
            - .:/var/www/html
            - storage_data:/var/www/html/storage
        networks:
            - internal

    webserver:
        image: nginx:alpine
        container_name: meters-nginx
        restart: always
        volumes:
            - .:/var/www/html
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
        networks:
            - proxy
            - internal
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.meters.rule=Host(`meters.leventeproksa.site`)"
            - "traefik.http.routers.meters.entrypoints=websecure"
            - "traefik.http.routers.meters.tls.certresolver=myresolver"
            - "traefik.docker.network=proxy"
            - "traefik.http.services.meters.loadbalancer.server.port=80"

    # MySQL Database
    db:
        image: mysql:8.0
        container_name: meters-db
        restart: always
        env_file:
            - .env
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        networks:
            - internal
        volumes:
            - db-data:/var/lib/mysql

    # Laravel Queue Worker
    worker:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: meters-worker
        restart: always
        command: [ "php", "artisan", "queue:work", "--verbose", "--tries=3", "--timeout=90" ]
        volumes:
            - .:/var/www/html
        depends_on:
            - db
        networks:
            - internal

    # Laravel Scheduler (Cron)
    scheduler:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: meters-scheduler
        restart: always
        command: [ "sh", "-c", "while [ true ]; do php artisan schedule:run --no-interaction; sleep 60; done" ]
        volumes:
            - .:/var/www/html
        depends_on:
            - db
        networks:
            - internal

networks:
    proxy:
        external: true
    internal:
        driver: bridge

volumes:
    db-data:
    storage_data:
